{% extends "base.html" %}

{% block title %}What is Party TxT?{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>GroupSMS</h1>
        <p>Group Chat without the apps. Text START to # to create a group.
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h1>Features</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Group Chat via SMS</h3>
            <p>Create a group chat via SMS, No apps to download. Its Quick and Easy.</p>
            <p>Party TxT lets group members choose how to interact with the group.<br/><b>Commands include</b>:<br>JOIN - joins the group<br>NAME - change your name<br>IGNORE - ignore all incoming messages<br>LEAVE - leave the group<br>WAKE - receive messages again</p>
        </div>

        <div class="col-md-4">
            <h3>Custom Commands</h3>
            <p>Custom commands will be added in future version. Lets get this MVP off the ground first</p>
        </div>

        <div class="col-md-4">
            <h3>Voice Messages</h3>
            <p>Create and listen to voice mail messages. If SMS is to hard to get your point across leave a detailed message</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Live</h3>
            <p>All messages,images,and voice messages are available to your groups webpage.</p>
        </div>

        <div class="col-md-4">
            <h3>Pricing</h3>
            <p>When I know, you'll know. Will be pay as you go.</p>
        </div>
        <div class="col-md-4">
            <h3>Integration</h3>
            <p>Twitter,Instagram,FaceBook,Lets-Chat</p>
        </div>
    </div>
{% endblock %}